*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(253, 251, 251);
}
#nav{
    height: 7%;
    width: 100%;
    display: flex;
    gap: 2.5vh;
    align-items: flex-end;
    justify-content: flex-end;
    padding:1vh 21vh;
    background-color:transparent;
    font-size: 90%;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;

}
#bag{
    padding: 0.7vh;
    background-color: black;
    color: white;
    border-radius: 50%;
    margin-top: 0;

}

#heading{
    height: 40%;
    width: 100%;
    padding: 3% 8%;
    background-color: transparent;
    word-spacing:5%;

}
#headingh1{
    font-size: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
#below{
    background-color: transparent;
    height: 35%;
    width: 100%;
    display: flex;
}
#left{
    background-color: transparent;
    height: 100%;
    width: 50%;
    display: flex;
    padding-top: 9vh;
    padding-left: 15vh;
    font-size: 11px;
    font-weight: 100;
    font-family:'Times New Roman', Times, serif;
}
#right{
    background-color: transparent;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 3vh;
    padding-right: 20vh;
    padding-top: 4vh;
}
.elem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    border-top: 2px solid black;
    font-weight: 600;
    font-size: 20px;
    padding: 0 10px;
}
.elem>a{
    text-decoration: none;
    color: black;
      padding-top: 5px;

}
.elem>i{
    opacity: 0;
}
.elem>a:hover{
    color: crimson;
    text-decoration: underline;
}
.elem:hover i{
    opacity: 1;
    color: crimson;
}

#last{
    width: 100%;
     background-size: contain;
}
#last>img{
    background-size: contain;
    height: 100%;
    width: 100%;
}

@media (max-width:600px) {
    #main{
    height: 120%;
    width: 100%;
    background-color: rgb(253, 251, 251);
}
#nav{
    height: 7%;
    width: 100%;
    display: flex;
    gap: 2.5vh;
    align-items: center;
    justify-content: start;
    padding:1vh 21vh;
    background-color:transparent;
    font-size: 90%;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;

}
#bag{
    padding: 0.7vh;
    background-color: black;
    color: white;
    border-radius: 50%;
    margin-top: 0;

}

#heading{
    height: 12%;
    width: 100%;
    padding: 2% 4%;
    background-color: transparent;
    word-spacing:5%;

}
#headingh1{
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
#below{
    background-color:transparent;
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#left{
    background-color: transparent;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 2vh;
    font-size: 11px;
    font-weight: 100;
    font-family:'Times New Roman', Times, serif;
}
#right{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    gap: 2vh;
    padding-right: 10vh;
    background-color: transparent;
}
.elem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    border-top: 2px solid black;
    font-weight: 600;
    font-size: 20px;
    padding: 0 10px;
}
.elem>a{
    text-decoration: none;
    color: black;
      padding-top: 5px;

}
.elem>i{
    opacity: 0;
}
.elem>a:hover{
    color: crimson;
    text-decoration: underline;
}
.elem:hover i{
    opacity: 1;
    color: crimson;
}

#last{
    width: 100%;
     background-size: contain;
}
#last>img{
    background-size: contain;
    height: 100%;
    width: 100%;
}

    
}